<!DOCTYPE html>
<html>
  <head>
    <title>Howtobook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
     <% if current_editor.present? %>
      <li><a href="#"><%= current_editor.email %></a></li>
      <li><%= link_to "Logout", destroy_editor_session_path,  class: 'btn btn-success', method: :delete %></li>
    <% end %>

    <% if current_user.present? %>
      <li><a href="#"><%= current_user.email %></a></li>
      <li><%= link_to "Logout", destroy_user_session_path,  class: 'btn btn-success', method: :delete %></li>
    <% else %>
      <li><%= link_to "Login", new_user_session_path, class: 'btn btn-success' %></li>
      <li><%= link_to "Register", new_user_registration_path,  class: 'btn btn-success' %></li>
    <% end %>

    <%= link_to "Books", books_path%> 
    <%= link_to "Categories", categories_path%>
    <%= link_to "İnterpreters", interpreters_path%>
    <%= link_to "Authors", authors_path%>
    <%= link_to "Publishers", publishers_path%>
   <br/><br/><br/>
    <%= render "flash" %>
    <%= yield %>
  </body>
</html>
